body {
    margin: 0;
    padding: 0;
    background-color: #222;
    
    /* Center everything */
    display: flex;
    justify-content: center;  /* Horizontal center */
    align-items: center;      /* Vertical center */
    min-height: 100vh;        /* Full viewport height */
}


/* #board {
    background-color: #3D144C;
    border-top: 5px solid #ff3b94;
    border-bottom: 5px solid #ff3b94;
    border-left: 5px solid #ff3b94;
    border-right: 5px solid #ff3b94;

} */ 