 body {
 text-align: center;   
 background-color: #222;  /* optional background */
}


/* #board {
    background-color: #3D144C;
    border-top: 5px solid #ff3b94;
    border-bottom: 5px solid #ff3b94;
    border-left: 5px solid #ff3b94;
    border-right: 5px solid #ff3b94;

} */ 